.benefits__section {
    padding-top: var(--padding-backdown);
}

.section.work {
    text-align: center;
    padding-top: var(--padding-backdown);
    padding-bottom: var(--padding-backdown);
}



.feature{
    display: flex;
.title {
    color: var(--header-color);
}
}


.feature__list:not(:last-child) {
    margin-right: 30px;
    }

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.feature__item {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
