:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --header-color: #212121;
    --background-white-color: #FFFFFF;
    --backgroubd-color: #2F303A;
    --portfolio-background-buttom: #F5F4FA;
    --padding-backdown: 94px;
}